/* DashboardComponent's private CSS styles */



.bingo-container {
  padding-top: 20px;
  grid-column: span 5;
  text-align: center;
  margin: 0 auto;
  width: 538px;
}

.bingo-card {
  padding: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(5, 100px);
}

.bingo-card-cell {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background: white;
  padding: 7px;
  font-size: 13px;
  color: #0081ab;
  font-weight: 600;
}

.isChecked {
  background: rgba(255, 0, 0, 0.8);
  color: white;
}
