/* DashboardComponent's private CSS styles */

.bingo-container {
  grid-column: span 5;
  text-align: center;
  margin: 0 auto;
  width: 630px;
}

.bingo-card {
  padding: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(5, 140px);
  grid-template-columns: repeat(5, 140px);
}

.bingo-card-cell {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background: #ecec88;
}
